div(class="page-header")
	h1(class="page-header__title")
		span(class="page-header__title-text") Корзина 
		sup(class="page-header__title-coutner")
			small 5 шт

	include /components/breadcrumbs/breadcrumbs