footer(class="footer")
	div(class="container")
		div(class="footer__topline")
			a(href="/" class="footer__logo")
				img(src="logo.svg" alt="Midas - логотип ресторана")

			ul(class="footer__nav")
				li(class="footer__nav-item")
					a(href="#" class="footer__nav-item-link") Обратная связь
				li(class="footer__nav-item")
					a(href="#" class="footer__nav-item-link") Доставка
				li(class="footer__nav-item")
					a(href="#" class="footer__nav-item-link") Оплата
				li(class="footer__nav-item")
					a(href="#" class="footer__nav-item-link") Контакты

			address(class="footer__contacts")
				ul(class="footer__contacts-list")
					li(class="footer__contacts-list-item")
						a(href="tel:+74998416729" class="footer__contacts-tel") +7 (499) 841-67-29
					li(class="footer__contacts-list-item")
						a(href="mailto:delivery@midas.rest" class="footer__contacts-email") delivery@midas.rest

		div(class="footer__botline")
			div(class="footer__copyright") © 2009–2019, ООО «MIDAS», официальный сайт
			ul(class="footer__docs")
				li(class="footer__docs-item")
					a(href="#" class="footer__docs-item-link") Политика конфиденциальности и оферта
				li(class="footer__docs-item")
					a(href="#" class="footer__docs-item-link") Пользовательское соглашение