.breadcrumbs{

	ol{
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		font-size: .75rem;
		font-weight: 500;
		line-height: 1.2;
		text-align: left;

		li{
			display: inline-flex;
			gap: 1em;
			color: var(--color-secondary);

			&:not(:last-child)::after{
				content: "/";
				display: block;
				color: var(--color-base);
			}

			a{
				color: var(--color-base);
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}

		@media (width > 767px) {
			margin-top: .75rem;
			font-size: .8125rem;
		}

		@media (width > 1023px) {
			margin-top: .375rem;
		}
	}
}
