div(class="breadcrumbs")
	ol(itemscope itemtype="https://schema.org/BreadcrumbList")
		li(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem")
			a(itemprop="item" href="/")
				span(itemprop="name") Главная
			meta(itemprop="position" content="1")
		li(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem")
			span(itemprop="item")
				span(itemprop="name") Корзина
			meta(itemprop="position" content="2")